.red-text{
	color:red;
}
.orange-text{
	color:orange;
}
.yellow-text{
	color:yellow;
}
.green-text{
	color:green;
}
.blue-text{
	color:blue;
}
.purple-text{
	color:purple;
}
.white-text{
	color:white;
}
.black-text{
	color:black;
}
.pink-text{
	color:pink;
}
.brown-text{
	color:brown;
}
.red-background{
	background-color:red;
}
.orange-background{
	background-color:orange;
}
.yellow-background{
	background-color:yellow;
}
.green-background{  
	background-color:green;
}
.blue-background{
	background-color:blue;
}
.purple-background{
	background-color:purple;
}
.white-background{
	background-color:white;
}
.black-background{
	background-color:black;
}
.pink-background{
	background-color:pink;
}
.brown-background{
	background-color:brown;
}
.autofitpicture{
	width:100%;
	height:auto;

}
nav{
	margin:0px !important; 
}
.jumbotron{
	background-image: url(Mealbot2.jpg);
	height: 145vh;
}
